blockquote {
  margin: 0;
}

body {
  font-family: 'Vollkorn', serif;
  font-size: 100%;
  line-height: 1.3;
}

p {
  margin-bottom: 0.75rem;
  margin-top: 0;
}

a {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #2B8EA5;
  text-decoration: none;
}

a:hover {
  box-shadow: inset 0 -2px 0 0 #2B8EA5;
}

.page-header {
  background: #C0343D;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.page-header h1 {
  font-weight: normal;
  font-size: 2.5rem;
  margin-top: 0;
}

.page-header p {
  font-size: 1.5rem;
}

.page-header a {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #A3D9B9;
  text-decoration: none;
}

.page-header a:hover {
  box-shadow: inset 0 -2px 0 0 #A3D9B9;
}

.page-content {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem 1rem;
}

.quote-content {
  font-size: 1.8rem;
  margin-bottom: 1.25rem;
}

.quote-citation {
  border-top: 1px solid #e8e8e8;
  display: block;
  font-size: 1.5rem;
  padding-top: 1.25rem;
  text-align: center;
}

.quote-author {
  font-style: normal;
  margin-left: 10px;
}

.quote-author:before {
  content: "\2022";
  margin-right: 10px;
}

.quote-actions {
  border-bottom: 1px solid #e8e8e8;
  margin: 1.25rem 0;
  padding-bottom: 1.25rem;
  text-align: center;
}

.next {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #C0343D;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.next:hover {
  background: #94282f;
}

.next:active {
  background: #802329;
}

.next:focus {
  outline: 2px dotted #2B8EA5;
}

.page-footer {
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 5rem;
  text-align: center;
}
