*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: #424242;
}

.page-header,
.page-content,
.page-footer {
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

.page-content {
  margin: 100px auto;
  max-width: 40rem;
}


input {
  background: transparent;
  border: 2px solid #d8d8d8;
  font-size: 36px;
  text-align: center;
  width: 140px;
  -moz-appearance:textfield;
  -webkit-appearance: none;
}

input:focus {
  border-bottom: 2px solid #B2316D;
  outline: none;
}

label {
  display: block;
}
