html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #EEB04E;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

h1 {
  color: #613B1A;
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0.35em;
  margin-top: 0;
}

a {
  color: #46A3E4;
}

.page-content {
  flex: 1;
}

.container {
  background: #FFF;
}

.container__footer {
  text-align: center;
}

.todo__item {
  cursor: pointer;
  padding: 1rem;
  background: #F4F4F4;
  position: relative;
  display: flex;
}

.todo__item + .todo__item {
  margin-top: 1rem;
}

.todo__item--complete {
  text-decoration: line-through;
  font-style: italic;
  color: rgba(0,0,0,0.5);
}

.todo-input {
  border: 1px solid #F4F4F4;
}

.btn {
  border: none;
  padding: 0.5rem;
}

.btn:hover {
  cursor: pointer;
}

.btn--submit {
  background: #46A3E4;
}

.btn--icon {
  padding: 0;
  background: transparent;
}

.todo__text {
  flex: auto;
}

.icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -.1em;
}

.icon--remove {
  background-image: url("../img/close.svg");
}

.page-footer {
  text-align: center;
  font-weight: 500;
  padding: 3em 0;
}

.page-footer a {
  color: #377E7A;
}
