*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: #424242;
}

.page-header,
.page-content,
.page-footer {
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

.page-content {
  margin-bottom: 100px;
  margin-top: 100px;
}

.time-conversion-form {
  text-align: center;
}

input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #d8d8d8;
  font-size: 36px;
  text-align: center;
  width: 140px;
  -moz-appearance:textfield;
  -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]:focus {
  border-bottom: 2px solid #B2316D;
  outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-wrapper {
  display: inline-block;
}

.hours-input-wrapper:after {
  content: ":";
  font-size: 36px;
  font-weight: bold;
  margin: 0 10px;
}

.button-submit {
  background: #4C94AA;
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-block;
  flex: 1;
  margin-bottom: 0;
  padding: 10px;
}

.button-submit:focus {
  background: #448498;
  outline: none;
}

.converted-hours {
  font-size: 36px;
  margin-top: 30px;
  text-align: center;
}

.errors {
  color: #FA2A00;
  font-weight: bold;
  margin-bottom: 20px;
}
