body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

.page-header {
  background: #FF7C73;
  color: white;
}

.page-header,
.page-footer {
  padding: 1rem;  
  text-align: center;
}

.page-header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.page-content {
  padding: 2rem 0;
}

.cu-form-wrapper {
  width: 350px;
  margin: 0 auto;
}

.cu-field-group {
  border: 1px solid #737E88;
  display: flex;
}

.cu-field-buttons {
  padding-top: 1rem;
  text-align: center;
}

.cu-field-group + .cu-field-group {
  margin-top: 1rem;
}

.cu-input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  background: transparent;
  color: #737E88;
  border: none;
  box-shadow: none;
  text-align: right;
  padding: 0.5rem 1rem 0.6rem 1rem;
  box-sizing: border-box;
  width: 100%;
}

.cu-input:focus {
  outline: none;
  background: #daf1e7;
}

.cu-select-wrapper {
  width: 100%;
  overflow: hidden;
  background: #737E88;
  color: white;
  position: relative;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  box-sizing: border-box;
}

.cu-select-wrapper:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  margin-top: -2px;
  height: 0;
  width: 0;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.cu-select-wrapper:hover {
  cursor: pointer;
}

.cu-field-select {
  flex: 0 0 auto;
}

.cu-select {
  padding: 6px 8px;
  width: 110%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.cu-select:focus {
  outline: none;
}

.cu-is-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}
